.block {
    background-color: orange;
    /*height: 60px;*/
    /*height: 150px;*/
    /*width: 400px;*/
    overflow: scroll;
}

.half-container {
    background-color: lightcoral;
    height: 400px;
}

.mid-container {
    height: 50%;
    background-color: #6B1F1A;
}

.half-text {
    background-color: lightseagreen;

}

/*.inline {*/
/*    background-color: orange;*/
/*    width: 300px;*/
/*    height: 300px;*/
/*}*/

/*.iblock {*/
/*    display: inline-block;*/
/*    background-color: lightblue;*/
/*    width: 200px;*/
/*    height: 200px;*/
/*}*/