html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #070e27;
    color: #fff;
}

p {
    color: #7e8bb6;
}

.header {
    padding: 16px 64px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid #7e8bb6;
    position: sticky;
    top: 0px;
    background-color: #070e27;
}

.header .navigation {
    margin-left: auto;
    margin-right: 24px;
}

.header .nav-list {
    display: flex;
    gap: 12px;
}

.header .nav-list a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
    padding: 8px;
    transition: all 300ms;
}

.header .nav-list a:hover{
    background-color: royalblue;
    color: black;
}

/* Buttons */

.btn {
    border: none;
    border-radius: 4px;
    background-color: #162044;
    color: #fff;
    padding: 8px 20px;
    cursor: pointer;
}

.btn.btn-primary{
    background-color: #0059f7;
}

/* Global styles */

.section-subtitle {
    text-align: center;
    font-size: 14px;
    margin-bottom: 8px;
}

.section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 48px;
}

/* Hero */

#hero {
    padding: 70px 64px;
}

#hero .welcome {
    max-width: 900px;
    margin: 0 auto 48px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero .welcome > * {
    width: 45%;
}

#hero .welcome .title {
    font-size: 48px;
    line-height: 1.2;
}

#hero .welcome .info {
    margin-bottom: 12px;
}

.hero .hero-img{
    margin: 0 auto 48px auto;
}

#hero .partners {
    max-width: 900px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

/* Features section */

#features {
    padding: 70px 64px;
}

#features .title-section {
    font-size: 32px;
    margin: auto;
    text-align: center;
}

#features .description-section {
   font-size: 14px;
    margin: auto;
    text-align: center;
}

#features .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: space-around;
    max-width: 900px;
    margin: 50px auto 42px auto;
}

#features .container .features-info {
    border: 2px solid #333954;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    transition: all 300ms;
    margin: 16px auto;
}

#features .container .features-info:hover {
    background-color: #2323cc;
}

#features .container i{
    color: #7e8bb6;
    font-size: 32px;
    padding: 12px;
}

#features .container .title-container{
    margin: 12px;
}

#features .free-trial-container {
    display: flex;
    flex-direction: column;
    background-color: #2355cc;
    border-radius: 10px;
    max-width: 900px;
    padding: 20px 64px;
    align-items: center;
    margin: 30px auto;
    justify-content: center;
    flex-wrap: wrap;
}

#features .free-trial-container .up-title {
    font-weight: initial;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

#features .free-trial-container .down-title {
    color: #7e8bb6;
    margin-bottom: 20px;
    transition: all 300ms;
}

#features .free-trial-container .down-title:hover {
    color: #fff;
}

#features .free-trial-container .btn-start {
    border: none;
    background-color: lightskyblue;
    border-radius: 6px;
    font-size: 24px;
    flex-wrap: wrap;
    transition: all 300ms;
}

#features .free-trial-container .btn-start:hover {
    color: #fff;
}

/* HOW section */

#how {
    padding: 70px 64px;
}

#how .section-subtitle {
    text-align: center;
    font-size: 14px;
    margin-bottom: 8px;
}

#how .section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 48px;
}

#how .row {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 900px;
    margin: 0 auto;
}

#how .row:nth-child(even) {
    flex-direction: row-reverse;
}

#how .row:not(:last-child) {
    margin-bottom: 48px;
}

#how .row .row-img {
    width: 60%;
}

#how .row .title {
    font-size: 24px;
    margin-bottom: 12px;
}

#how .row .desc {
    font-size: 14px;
}

@media screen and (max-width: 767px){
    #hero {
        padding: 70px 64px;
    }

    #hero .welcome {
        flex-direction: column;
        gap: 24px;
        text-align: center;
    }

    #hero .welcome .title {
        width: 100%;
    }

    #hero .welcome > div {
        width: 60%;
    }

/* How */

    #how .row {
        gap: 18px;
    }

    #how .row:not(:last-child) {
        margin-bottom: 36px;
    }

    #how .row .row-img {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {

    /* Header */
    .header .navigation {
        display: none;
    }

    .header .btn {
        margin-left: auto;
    }

    /* Hero */

    #hero .welcome > div {
        width: 80%;
    }

    #how .row {
        flex-direction: column;
        text-align: center;
    }

    #how .row:nth-child(even) {
        flex-direction: column;
    }

    #how .row .desc {
        text-align: left;
    }
    
    #how .row .row-img {
        width: 80%;
    }
}


/* Pricing + mobile first */

#pricing {
    padding: 70px 64px;
}

#pricing .plans .plan {
    padding: 12px 18px;
    border-radius: 6px;
    background-color: #162044;
}

#pricing .plans .plan .title {
    font-size: 18px;
    font-weight: normal;
    color: #7e8bb6;
}

#pricing .plans .plan:not(:last-child) {
    margin-bottom: 24px;
}

#pricing .plans .plan .title .price {
    display: block;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 36px;
    border-bottom: 1px solid #7e8bb6;
    margin-bottom: 36px;
}

#pricing .plans .plan .title .price .dollar-sign {
    color: #7e8bb6;
}

#pricing .plans .plan .features {
    color: #7e8bb6;
    margin: 0 12px 36px;
}

#pricing .plans .plan .btn {
    text-align: center;
}

#pricing .plans .plan .features .feat:not(:last-child) {
    margin-bottom: 16px;
}

@media screen and (min-width: 560px){
    #pricing .plans {
        display: grid;
        max-width: 900px;
        margin: 0 auto 48px auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    #pricing .plans .plan:not(:last-child) {
        margin-bottom: 0px;
    }

}

@media screen and (min-width: 1024px){
    #pricing .plans {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        align-items: end;
    }

    #pricing .plans .plan.promo {
        margin-bottom: 36px;
    }
}

@media screen and (max-width: 676px) {
    #features .container {
        grid-template-columns: repeat(1, 1fr);
    }

    #features .container .features-info {
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 575px) {
    #features .free-trial-container {

    }
}