.block {
    background-color: plum;
    padding: 10px 10px 10px 10px;
    margin-bottom: 80px;

    border: 1px solid rgba(0, 0, 0, 0.5 );
    border-top-right-radius: 16px;
}

.inline {
    background-color: gray;
    /*padding: 10px;*/
    margin: 20px;
}

.iblock {
    display: inline-block;
    background-color: navajowhite;
    margin: 20px;
    padding: 10px;
}